/*comentar en css*/
/*selector de etiqueta*/

body{
        font-family: "Nanum Myeongjo", serif;
        font-weight: 400;
        font-style: normal;
      }
      


/*selector de clase*/


